body {
    width: 180px;
    padding: 10px;
    background-color: #0c161c;
}

button {
    border: 2px solid black;
    width: 100%;
    padding: 8px;
    background-color: yellow;
    color: black;
    margin-bottom: 3px;
    border-radius: 2px;
    font-weight: bolder;
}


.button:hover {
    background-color: #4CAF50;
    color: white;
}

#ButtonContainer {
    border-radius: 3px;
}
